<%-include('../cabecalho.ejs')%>
<h1>Adicionar Curso</h1>
<div>
<div>
<form method="post">
<label for="nome">Nome:</label>
<input type="text" name="nome" ><br>
<label >Área:</label>
<input type="text" name="area"><br>
<label >Ano de Fundação:</label>
<input type="number" name="anoFundacao"><br>
<label >Nível:</label>
<select name="nivel">
  <option value="Técnico">Técnico</option>
  <option value="Graduação">Graduação</option>
  <option value="Pós-graduação">Pós-graduação</option>
  <option value="Mestrado">Mestrado</option>
  <option value="Doutorado">Doutorado</option>
</select><br>
<input type="submit" >
</form>
</div>
</div>
<%-include('../rodape.ejs')%>