<%-include('../cabecalho.ejs')%>
<h1>Adicionar Curso</h1>
<div>
<div>
<form method="post">
<label for="nome">Nome:</label>
<input type="text" name="nome" ><br>
<label >Área:</label>
<input type="text" name="area"><br>
<label >Ano de Fundação:</label>
<input type="number" name="anoFundacao"><br>
<label >Nível:</label>
<input type="text" name="nivel"><br>
<input type="submit" ></form>
</form>
</div>
</div>
<%-include('../rodape.ejs')%>